<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.ss12.battleship"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="info.ss12.battleship.BattleshipApp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.ss12.battleship.SelectionActivity"
            android:label="@string/title_activity_selection" >
        </activity>
        <activity
            android:name="info.ss12.battleship.ScrollPage"
            android:label="@string/title_activity_scroll_page" >
        </activity>
        <activity
            android:name="info.ss12.battleship.ScrollPage2"
            android:label="@string/title_activity_scroll_page2" >
        </activity>
        <activity
            android:name="info.ss12.battleship.Grid"
            android:label="@string/title_activity_grid" >
        </activity>
    </application>

</manifest>
